.fondoHome{
    background-image: url(/src/assets/img/fondo/fondoIndex.png); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.ContenedorLetrasHome{
    display: flex;
    margin: 30px 0px 0px 30px;
    padding: 0px 0px 0px 10px;
    color: #fff; 
    border-radius: 10px;
    background:linear-gradient(to bottom, black, #00000070 ) ;
    width: 230px;
    height: 80px;
    align-items: center;
    
    justify-content: center;
}
.letrasHome{
    font-size: 45px;    
}
.textoCentralHome{
    display: flex;
    width: 600px;
    color: #fff;
    height: 100px;
    background:linear-gradient(to bottom, black, #00000070 ) ;
    border-radius: 10px;
    align-items:center ;
    justify-content: center;
}


