.fondoSingIn{
    background-image: url(/src/assets/img/fondo/fondoIndex.png); 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.ContenedorSingIn{
    background-color: rgba(0, 0, 0, 0.425);
    width: 700px;
    height: 350px;
    border-radius: 10px;
   
}
.inputSingIn{
    background-color: #fff;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 100;
    font-style: normal;
    width: 500px;
    border-radius: 10px;
}
.buttonSingIn{
    background-color: #fff;
    width: 100px;
    height: 50px;
}

.GoogleButton{
    padding-top: 30px;
    width: 250px;
    height: 50px;
    background-color: #fff;
}

.contenedorGoogle{
    margin-top: 100px;
}
.error-message {
    border-radius: 10px;
    font-size: 50px;
    position: fixed; /* Posición fija en la ventana del navegador */
    top: 15px; /* Colocar en la parte superior */
    left: 50; /* Colocar en la esquina superior izquierda */
    width: 600px; /* Ocupar todo el ancho */
    padding: 10px; /* Añadir espacio de relleno */
    color: white; /* Color del texto */
    background-color: red; /* Color de fondo rojo */
    z-index: 9999; /* Colocar por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items:center ;
  }
.divclass{
    background-color: rgba(0, 0, 0, 0.39);
}